<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <script>
    async function onSubmit() {
      const { fetch } = window;
      const docUsername = document.querySelector('#id_username');
      const docPassword = document.querySelector('#id_password');
      const docRememberMe = document.querySelector('#id_remember_me');
      const { value: username } = docUsername;
      const { value: password } = docPassword;
      const { checked: remember_me } = docRememberMe;

      body = JSON.stringify({
        username,
        password,
        remember_me,
      });

      const params = {
        method: 'GET',
        headers: {
          'Content-type': 'application/json; charset=utf-8',
          Authentication: body,
        },
      };

      const res = await fetch('/api/login', params);
      const json = await res.json();
      console.log(json);
    }
  </script>
  <body>
    <form action="">
      <input
        type="text"
        name="name_username"
        id="id_username"
        autocomplete="username"
      />
      <input
        type="password"
        name="name_password"
        id="id_password"
        autocomplete="new-password"
      />
      <input type="checkbox" name="name_remember_me" id="id_remember_me" />
      <input type="button" value="submit" onclick="onSubmit()" />
    </form>
  </body>
</html>
